@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Michroma&display=swap');

@font-face {
  font-family: "Montreal";
  src: url("../fonts/NeueMontreal-Regular.ttf")format("truetype");
}

.font-montreal {
  font-family: "Montreal";
}

@font-face {
  font-family: "retro";
  src: url("../fonts/RETROACTIVE.ttf")format("truetype");
}

.font-retro {
  font-family: "retro";
}

@font-face {
  font-family: "tumbler";
  src: url("../fonts/TumblerGlass.ttf")format("truetype");
}

.font-tumbler {
  font-family: "tumbler";
}

@font-face {
  font-family: "freight";
  src: url("../fonts/FreightBigProLight-Regular.ttf")format("truetype");
}

.font-freight {
  font-family: "freight";
}

:root {
  --font-michroma: "Michroma", sans-serif;
  --font-kanit: "Kanit", sans-serif;
}

.font-michroma {
  font-family: var(--font-michroma);
}

.font-kanit {
  font-family: var(--font-kanit);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.floating {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.zoom_In {
  animation: animate 10s ease-in-out infinite alternate;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  /* Light grey circle */
  border-top: 5px solid #3498db;
  /* Blue color for the spinning part */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {

  0%,
  40%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }

  20% {
    transform: translateY(-8px);
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  40% {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }
}

.dotAnimation1 {
  animation: wave 1.4s ease-in-out infinite;
  animation-delay: 0s;
}

.dotAnimation2 {
  animation: wave 1.4s ease-in-out infinite;
  animation-delay: 0.2s;
}

.dotAnimation3 {
  animation: wave 1.4s ease-in-out infinite;
  animation-delay: 0.4s;
}

.dotAnimation4 {
  animation: wave 1.4s ease-in-out infinite;
  animation-delay: 0.6s;
}