@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Michroma&display=swap');

@font-face {
  font-family: "Montreal";
  src: url("../public/fonts/NeueMontreal-Regular.ttf")format("truetype");
}

.font-montreal {
  font-family: "Montreal";
}

@font-face {
  font-family: "retro";
  src: url("../public/fonts/RETROACTIVE.ttf")format("truetype");
}

.font-retro {
  font-family: "retro";
}

@font-face {
  font-family: "tumbler";
  src: url("../public/fonts/TumblerGlass.ttf")format("truetype");
}

.font-tumbler {
  font-family: "tumbler";
}

@font-face {
  font-family: "freight";
  src: url("../public/fonts/FreightBigProLight-Regular.ttf")format("truetype");
}

.font-freight {
  font-family: "freight";
}

:root {
  --font-michroma: "Michroma", sans-serif;
  --font-kanit: "Kanit", sans-serif;
}

.font-michroma {
  font-family: var(--font-michroma);
}

.font-kanit {
  font-family: var(--font-kanit);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.floating {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.zoom_In {
  animation: animate 10s ease-in-out infinite alternate;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}